.cosmonauts__control {
    padding: 1rem 0;
    margin: 0 0 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.cosmonauts__control button{
    margin-bottom: 0.3rem;
}

.cosmonauts__control .cosmonauts__control-searchbox,
.cosmonauts__control .cosmonauts__control-superpower{
    align-self: center;
    margin-top: 1rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .cosmonauts__control{
        flex-direction: row-reverse;
        align-items: center;
    }

    .cosmonauts__control button{
        margin-bottom: 0;
    }

    .cosmonauts__control .cosmonauts__control-searchbox,
    .cosmonauts__control .cosmonauts__control-superpower{
        margin-top: 0;
        max-width: 20rem;
    }
}
